{:paths ["dawn/src/clj"]
 :deps {com.cognitect/vase {:local/root "vase"}
        com.cognitect/fern {:local/root "fern"}
        com.datomic/datomic-pro {:mvn/version "0.9.5930"}}
 :aliases {:dev {:extra-deps {frenpl/frenpl {:local/root "frenpl"}}
                 :extra-paths ["dawn/test"]
                 :main-opts ["-m" "frenpl"]}
           :test {:extra-paths ["dawn/test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
