{:source-paths ["dawn/src/cljs"]
 :dependencies []
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main
                          {:entries [dawn.main]}}

                :devtools
                {:http-root "public"
                 :http-port 8020}}}}}