{:paths   ["src"]
 :deps    {com.datomic/datomic-pro      {:mvn/version "0.9.5930"}
           com.datomic/client-cloud     {:mvn/version "0.8.78"}
           io.rkn/conformity            {:mvn/version "0.5.1"}
           ;; Pedestal
           io.pedestal/pedestal.service {:mvn/version "0.5.5"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.5"}
           com.cognitect/fern           {:local/root "../fern"}}
 :aliases {:repl {:extra-paths ["test" "test/resources"]}
           :test {:extra-paths ["test" "test/resources"]
                  :extra-deps  {io.github.cognitect-labs/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                 :sha     "8c3f22363d63715de4087b038d79ae0de36a3263"}}
                  :main-opts   ["-m" "cognitect.test-runner"]
                  :exec-fn     cognitect.test-runner.api/test}}}
